<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyContent.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyContentExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PlayCustomVoiceDemo001.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>373C684E1F8C9A9600E1A7B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>373C68881F8C9CFA00E1A7B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>373C68991F8C9D0F00E1A7B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>378DD20B1F96288900111BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37DB3D6C1F95DACA004384EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
